body {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
}
.headerbg {
  background-color: #2d4362;
}
.headerbg img {
  max-width: 100px;
}

.blue_solutions_pic {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: auto;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.highlights_content {
  padding: 15px 15px 10px 15px;
  color: #ffffff;
  width: 100%;
  display: block;
}
.highlights_content h3 {
  font-weight: bold;
}
.highlights_content p {
  font-weight: 500;
  font-size: 14px;
}
/* Styles for wrapping the search box */

.main {
  width: 50%;
  margin: 50px auto;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.highlights_content .input-group-append {
  margin-left: -1px;
  margin-left: 5px;
}
.btncolor {
  color: #fff;
  background-color: #4d98db;
  border-color: #007bff;
  border-radius: 5px !important;
  height: 32px;
  margin-left: 5px;
  font-size: 14px !important;
}
.highlights_content .form-control {
  border-radius: 5px !important;
}
.highlights h4 {
  font-size: 17px;
  font-weight: 600;
}
.box-highlights {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #a2a2a28a;
  border-radius: 8px;
}
.highimages {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-radius: 8px 8px 0px 0px;
}
.high_content {
  padding: 10px;
  font-weight: 600;
}

.high_content span:nth-child(1) {
  text-align: left;
}
.high_content span:nth-child(1):hover {
  color: #4d98db;
}
.high_content span:nth-child(2) {
  text-align: right;
  float: right;
}
.box-highlights a {
  text-decoration: none;
  color: #000000;
}
.box-highlights a:hover {
  text-decoration: none;
  color: #000000;
}

.form-control {
  padding: 8px 14px !important;
  font-size: 12px !important;
  height: 32px;
}
/* Result page  */

.list_section {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #a2a2a28a;
  border-radius: 5px;
}
.resultimages {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 130px;
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-radius: 5px 0px 0px 5px;
}
.result-content {
  padding: 15px 10px 0px 0px;
}
.result-content h5 {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.result-content p {
  font-size: 12px;
  font-weight: 400;
  color: #2f2e2e;
  line-height: 15px;
}
.result-content h6 {
  font-size: 12px;
  font-weight: 500;
  color: #808080;
}
.detailsbg {
  background-color: transparent !important;
  box-shadow: none !important;
}
.detailsimages {
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  height: 180px;
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}
.imgborder {
  border-radius: 4px 0px 0px 4px;
  /* height: auto; */
  /* max-height: 250px; */
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  /* width: 50px; */
  height: 100px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.banner {
  background-color: #323435;
  box-shadow: 0px 0px 10px 1px #a2a2a28a;
  border-radius: 5px;
  color: #fff;
}

.btn-custom {
  background-color: #323435;
  color: #fff !important;
  margin-bottom: 15px;
}
